<%- include('header') -%>
<%- include('menu') -%>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Users</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Given Name</th>
                    <th>Family Name</th>
                    <th>Status</th>
                    <th>Google Id</th>
                    <th>Facebook Id</th>
                    <th>Apple Id</th>
                    <th>Created At</th>
                    <th>Picture</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.given_name %></td>
                        <td><%= user.family_name %></td>
                        <td><%= user.status %></td>
                        <td><%= user.google_id ? user.google_id : 'N/A' %></td>
                        <td><%= user.facebook_id ? user.facebook_id : 'N/A' %></td>
                        <td><%= user.apple_id ? user.apple_id : 'N/A' %></td>
                        <td><%= user.created_at.toLocaleDateString() %></td>
                        <td>
                            <% if (user.picture) { %>
                                <img src="<%= user.picture %>" alt="User Image" width="50" height="50">
                            <% } else { %>
                                N/A
                            <% } %>
                        </td>
                        <td style="width:30px;white-space: nowrap">
                            <% if (userHasRental[user._id]) { %>
                                <a href="/user/rentalsession/<%= user._id %>" class="btn btn-sm btn-info">Rental Sessions</a>
                            <% } %>
                            <a href="/user/edit/<%= user._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            <a href="/user/del/<%= user._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
            <a href="/user/new" class="btn btn-block btn-primary">Add new user</a>
        </div>
    </div>
</div>
<%- include('footer') -%>

